<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context.xsd
           				http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop.xsd
       					http://www.springframework.org/schema/task  
						http://www.springframework.org/schema/task/spring-task.xsd ">
	
	<!-- 导入相关配置 -->
	<import resource="classpath:activiti-context.xml"/>					
						
	<context:annotation-config />
	<context:component-scan base-package="oa"/>
	<aop:aspectj-autoproxy />
	<task:annotation-driven/> 
	<!-- 分散配置 -->						
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
<!-- enable the configuration of transactional behavior based on annotations -->  
  	<tx:annotation-driven transaction-manager="txManager"/>  
  
  <!-- a PlatformTransactionManager is still required -->  
  <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
    <!-- (this dependency is defined somewhere else) -->  
    <property name="sessionFactory" ref="sessionFactory"/>  
  </bean>
	
	<!-- 主数据源 -->					
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClass}">
		</property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		 <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="packagesToScan" value="oa.model" /> 
	</bean>
</beans>